debian/files
icons/hicolor/
icons/pixmaps/

debian/xdg-browser-launcher.debhelper.log
debian/xdg-browser-launcher.postinst.debhelper
debian/xdg-browser-launcher.postrm.debhelper
debian/xdg-browser-launcher.substvars
debian/xdg-browser-launcher/

